@import "tailwindcss";

@theme {
  /* Colores corporativos */
  --color-brand-primary: #f40a2d;
  --color-brand-dark: #333333;
}

body {
  /* Forzamos el modo claro de forma estricta */
  background-color: #ffffff;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}